{{ if .HasShortcode "math" }} {{ $fonts := resources.Match "katex/*.woff2" }} {{
range $fonts }}
<link
  rel="preload"
  href="{{ .Permalink }}"
  as="font"
  type="font/woff2"
  crossorigin="anonymous"
/>
{{ end }} {{ $katexCSS := resources.Get "css/katex.css" | resources.Minify }}
<link rel="stylesheet" href="{{ $katexCSS }}" />
<script defer src="/js/katex.min.js"></script>
<script defer src="/js/auto-render.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    renderMathInElement(document.body, {
      // auto-render specific keys
      delimiters: [
        { left: "$$", right: "$$", display: true },
        { left: "$", right: "$", display: false },
        { left: "\\(", right: "\\)", display: false },
        { left: "\\[", right: "\\]", display: true },
      ],
      throwOnError: false,
    });
  });
</script>
{{ end }}
